/* Import Less Files */
@import "mixins.less";

/* Including Fonts */
@font-face {
	font-family: "RSB";
	src: url('../fonts/RobotoSlab-Bold.ttf');
}
@font-face {
	font-family: "RSL";
	src: url('../fonts/RobotoSlab-Light.ttf');
}
@font-face {
	font-family: "RSR";
	src: url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
	font-family: "RST";
	src: url('../fonts/RobotoSlab-Thin.ttf');
}

/* Bootstrap Carousel Fade In and Out Effect */
.carousel-fade .carousel-inner .carousel-item {
	opacity: 0;
	.transition(opacity,  0.75s,  ease-in-out,  0s);
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .carousel-item.carousel-item-next,
	.carousel-fade .carousel-inner > .carousel-item.active.carousel-item-right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .carousel-item.carousel-item-prev,
	.carousel-fade .carousel-inner > .carousel-item.active.carousel-item-left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .carousel-item.carousel-item-next.carousel-item-left,
	.carousel-fade .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
	.carousel-fade .carousel-inner > .carousel-item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
} 
.carousel,
.carousel-inner,
.carousel-inner .carousel-item {
	height: 100%;
} 

/* Banner Slider */
#banner-slider {	
	.carousel {
		&:hover {
			.slider-control	{
				opacity: 1;
			}
		}
		.carousel-inner {
			.carousel-item {
				.banner-text {
					position: absolute;
					z-index: 9;
					top: 280px;
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					.banner-heading {
						font-size: 74px;
						font-family: 'RSB';
						line-height: 60px;
						color: #ffffff;
						margin-bottom: 55px;
						text-transform: uppercase;
					}
					.sub-heading {
						font-family: "RSL";
						line-height: 40px;
						font-size: 30px;
						color: #ffffff;
						margin-bottom: 0;
					}
					.view-portfolio {
						color: #ffffff;
						font-family: 'RSR';
						background: #3FA9F5;
						padding: 9px 28px;
						margin: 50px 0 0;
						.border-radius(3px, 3px, 3px, 3px);
						&:first-letter {
							text-transform: capitalize;
						}
					}
				}
				.banner-text.interactive-media {
					.banner-heading {
						font-size: 60px;
						font-family: 'RSR';
					}
					.sub-heading {
						color: #cfcfcf;
						font-family: "RSL";
						font-size: 24px;
					}
				}
			}
		}
		.slider-control {
			bottom: initial;
			top: 45%;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			transition: opacity .75s ease-in-out;
			opacity: 0;
			z-index: 3;
			&:nth-child(2) {
				left: 100px;
			}
			&:last-child {
				right: 100px;
			}
		}
		.banner-slide-icons {
			background: #3FA9F5;
			border-radius: 100%;
			width: 40px;
			height: 40px;
			color: #ffffff;
			line-height: 38px;
		}
	}
}

/* Header */
#header {
	.navbar {
		padding: 0;
		background: none;
		.navbar-brand {
			color: rgb(49,46,46);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 36px;
			font-family: "RSR";
			padding-right: 15px;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: -5px;
				width: 1px;
				height: 72px;
				background: #dddddd;
			}
		}
		.navbar-nav {
			li.nav-item {
				.nav-link {
					font-size: 14px;
					font-family: "RSR";
					text-transform: uppercase;
					color: #000000;
					line-height: 20px;
					padding: 25px 15px;
					border-bottom: 2px solid transparent;
					.transition(all, 0.5s, ease-in-out, 0s);
					&:hover {
						background: #F5F5F5;
						border-bottom: 2px solid #3FA9F5;
					}
				}
			}
			li.nav-item.active {
				.nav-link {
					background: #F5F5F5;
					border-bottom: 2px solid #3FA9F5;
				}
			}
		}
		.social-icons {
			padding: 0 20px;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			.icons {
				margin: 0;
				li {
					display: inline-block;
					a {
						border-radius: 100%;
						width: 25px;
						height: 25px;
						font-size: 15px;
						text-align: center;
						line-height: 24px;
						margin: 23px 0;
						text-decoration: none;
						color: #ffffff;
					}
					.fb {
						background: #3B5998;
					}
					.tw {
						background: #00ACED;
						margin: 0 5px;
					}
					.gp {
						background: #DD4B39;
					}
				}
			}
		}
	}
}

/* Common Code Starts Here */
.section-spacing {
	padding: 115px 0;
	float: left;
	width: 100%;
}
/* Common Code Ends Here */

/* About Us */
#about-us {
	background: #F5F5F5;
	text-align: center;
	.heading {
		font-size: 60px;
		font-family: "RSL";
		color: #000000;		
		position: relative;
		text-transform: uppercase;
		padding-bottom: 25px;
		margin-bottom: 25px;
		&:after {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			bottom: 0;
			width: 200px;
			background: #3FA9F5;
			height: 3px;
			margin: auto;
		}
	}
	.sub-heading {
		font-size: 16px;
		font-family: "RSL";
		strong {
			color: #000000;
			font-family: "RSB";
		}
	}
	.icon-wrapper {
		width: 125px;
		height: 125px;
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		margin: auto;
	}
}